.header {
  height: 80px;
  background-color: #fff;
  box-sizing: border-box;
}
.header .header-top,
.header .header-bottom {
  height: 40px;
  line-height: 40px;
  padding-right: 35px;
}
.header .header-top {
  border-bottom: 1px solid #1da57a;
  text-align: right;
}
.header .header-bottom {
  display: flex;
  align-items: center;
}
.header .header-bottom .header-bottom-left {
  position: relative;
  flex: 1;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.header .header-bottom .header-bottom-left::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 99%;
  margin-left: -15px;
  border-top: 15px solid #fff;
  border-left: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid transparent;
}
.header .header-bottom .header-bottom-right {
  flex: 3;
  text-align: right;
  font-size: 14px;
}
.header .header-bottom .header-bottom-right img {
  transform: scale(0.6);
  margin: 0 0 0 10px;
}
